<!-- <nx-ngrx-item></nx-ngrx-item> -->
<div style="text-align: center;">
    <h1>{{title}}</h1>
    <button (click)="createUser()">+ Item</button>
    <!-- <router-outlet></router-outlet> -->
    <div *ngFor="let item of items$ | async">
        <h1>{{item.name}}</h1>
    </div>
</div>